.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-inner {
	position: absolute;
	padding: 32px;
	width: 100%;
	height: auto;
	max-width: 640px;
	background-color: white;
	color: black;
}

.popup-inner .popup-cb {
	position: absolute;
	top: 16px;
	right: 16px;
}
